.footer {
    background-color: $secondary;
    margin-top: 120px;
    padding: 32px 52px;
     display: flex;
     &__copiraiter{
    
        color:#F8FDFE;
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; 
    }
    &__text-footer{
        color: var(--white, #F8FDFE);
       margin-left: 1124px ;
        font-size: 16px;
        font-family: Cabin;
        font-weight: 400;
        font-style: normal;
        line-height: 24px;
    }
    
}