.header{
    position: sticky;
    top: 0;
    z-index: 1;
    &__wrapper{
       display: flex;
       padding: 16px 52px;
       background-color: $primery; 
    }
    &__logo{
        margin-right: 531px;
    }
    &__section{
        display: flex;
        gap: 8px;
        margin-left: 544px;
        align-items: center;
    }
    &__price{
        color: #F8FDFE;
    font-size: 16px;
    font-family: Cabin;
    font-weight: 400;
    font-style: normal;
    line-height: 24px
    }
    &__btn{
        width: 40px;
        position: relative;
        background-color:#10BBD5;
        border: none;
    }
    &__basket1{
        color: #000;
        font-family: Cabin;
        position: absolute;
        margin: 6px 15px 25px ;
        font-size: 12px;
        font-weight: 400;
    }
    &__item{
        margin-left: 6px;
    }
    &__text-shop{
        display: flex;
        color: #000;
        font-size: 16px;
        font-family: Cabin;
        margin: 4px 0 0 52px;
        font-weight: 400;
    }
    &__shop{
            color: #000;
            font-family: Cabin;
            font-size: 16px;
            font-weight:400;
            margin-right: 442px; 
    }
    &__nav-menu{
        margin-left:442px ;
        display: flex;
        gap: 40px;
    }
    &__sig-in{
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-family: Cabin;
        line-height: 24px;
        font-weight: 400;
    }
        &__title{
            border-bottom:1px solid #A8A8A8;
            width: 1296px;
            margin-left: 52px;
        }
        &__title-text{
            margin: 36px 0 23px ;
            color: #1F1F1F;
            font-size: 32px;
            font-family: Cabin;
            font-weight: 600;
            font-style: normal; 
        }
    }