.main{
 &__wrapper{
    width: 1296px;
    margin: 152px 0 0 52px ;
    display: grid;
    gap:  32px 24px;
    grid-auto-rows: 24px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns:repeat(4,1fr);
 }
 &__card{
    padding: 32px;
    border: 1px solid #8e8e8e;
    position: relative;
 }
 &__chat{
    background-color:#10BBD5 ;
    border: none;
    padding: 7px;
    border-radius: 70%;
    position: fixed;
    top: 680px;
    right: 520px;
    z-index: 1;
}

&__section-product{
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}
&__content{
    text-decoration: none;
}
&__product{
    width: 178px;
    height: 280px; 
}
&__title-card{
    border-bottom:1px solid #A8A8A8;
    width: 242px;
    color:#1F1F1F;
    font-family: Cabin;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
&__text-card {
    margin-bottom: 8px;
    color:  #8E8E8E;
    font-size: 16px;
    font-family: Cabin;
    font-weight: 400;
    font-style: normal;

}
&__price {
    margin-bottom: 16px;
    color: #E90000;
    font-size: 24px;
    font-family: Cabin;
    font-weight: 500;
    font-style: normal;

}
&__prise2{
    display: flex;
    gap: 24px;
}
&__link{
    text-decoration: none;
}
&__badge{
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    width: 24px;
    background-color:#4200FF;
    position: absolute;
    left: 30px;
    top: 30px;
    color: #F8FDFE;
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;


}
&__button-card {
    border-radius: 4px;
    width: 242px;
    padding: 8px 24px;
    background-color: #4C394E;
    border: none;
    color: #F8FDFE;
    font-family: Cabin;
    text-align: center;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;


}

&__badge2{
    border-radius: 4px;
    padding: 8px;
    width: 24px;
    background-color:#AF39E7;;
    position: absolute;
    left: 37px;
    color: #F8FDFE;
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;
}
&__button-card2{
    border-radius: 4px;
    width: 242px;
    padding: 8px 24px;
    background-color:#4D762D;;
    border: none;
    color: #F8FDFE;
    font-family: Cabin;
    text-align: center;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
&__badge{
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    width: 24px;
    background-color:#4200FF;
    position: absolute;
    right: 37px;
    top: 32px;
    color: #F8FDFE;
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;

}
&__badge3{
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    background-color:#EA33C0;;
    position:absolute;
    left: 75px;
    color: #F8FDFE;
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;
}
&__badge10{
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    background-color:#EA33C0;;
    position:absolute;
    left: 30px;
    color: #F8FDFE;
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;
}
&__price-minus{
    margin-bottom: 16px;
    color: #8E8E8E;
    font-size: 24px;
    font-family: Cabin;
    font-weight: 500;
    text-decoration: line-through;
}
}
